.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100vw;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

menu {
  position: relative;
  top: 10%;
}

#Title {
  position: relative;
  left: 2%;
}

#Logo {
  position: relative;
  top: -10%;
}

.App-link {
  color: #61dafb;
}

#CreateEmployeeContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.EmployeesLabel {
  position: relative;
  left: -32%;
}

#EmployeesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.EmployeeContainer {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  height: 20%;
  overflow: hidden;
  width: 75%;
}

@media only screen and (max-width: 700px) {
  .EmployeeContainer {
    flex-direction: column;
    height: 600px;
    width: 100%;
  }

  .EmployeeBox {
    width: 100%;
  }

  .SkillsContainer {
    width: 100%;
  }

  #Title {
    size: 0.5em;
  }
}

.EmployeeBox {
  /* position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 50%;
  height: 100%;
  padding-left: 3px;
  padding-top: 3px;
}

.EmployeeName {
  position: relative;
  left: 4%;
  margin: 1%;
}

#EmployeeNameDisplay {
  display: flex;
  flex-direction: row;
}

.EmployeeNameMutations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  border-radius: 5px;
}

.AddSkillsBox {
  display: flex;
  flex: row;
  position: relative;
  text-align: center;
  width: 100%;
  float: right;
}

.SkillsContainer {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 50%;
  height: 100%;
}

.Skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  border: 1px solid rgb(73, 43, 141);
  border-radius: 5px;
}

.SkillName {
  position: relative;
  float: left;
  width: 150px;
  height: 50px;
  top: -6px;
  left: 18px;
}

.SkillNameEdit {
  position: relative;
  float: left;
  width: 150px;
  height: 50px;
  top: 9px;
  left: 18px;
}

.Button {
  width: 15px;
}

.LeftButton {
  height: 50px;
  width: 100px;
}

.RightButton {
  height: 50px;
  width: 100px;
}

.SkillFill {
  width: 10%;
}
