.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#CreateEmployeeContainer {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-content: center;
}

.EmployeeContainer {
  border: 1px solid black;
  height: auto;
}

.EmployeeBox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25%;
  float: left;
  background-color: antiquewhite;
}

.Avatar {
  background-color: #61dafb;
  height: 66%;
  width: 100%;
}

.SkillButton {
  float: right;
  height: 50%;
}

.SkillBox {
  display: flex;
  flex-direction: row;
}
