.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#CreateEmployeeContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#EmployeesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 2%;
}

.EmployeeContainer {
  flex-direction: column;
  /* height: 50%; */
  width: 100%;
  border: 1px solid black;
  overflow: scroll;
  flex-shrink: 0;
}

.EmployeeBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  /* border: 1px solid black; */
  /* overflow: hidden; */
}

#Title {
  position: relative;
  size: 0.5em;
  left: 1%;
}

#Logo {
  position: relative;
  top: -10%;
}

header {
  width: 100vw;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

menu {
  position: relative;
  top: 10%;
  left: -2%;
}

.Skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  border: 1px solid rgb(73, 43, 141);
  border-radius: 5px;
}

.SkillName {
  position: relative;
  float: left;
  width: 150px;
  height: 50px;
  top: -6px;
  left: 18px;
}

.SkillNameEdit {
  position: relative;
  float: left;
  width: 150px;
  height: 50px;
  top: 9px;
  left: 18px;
}

.SkillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  width: 100%;
  height: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#EmployeeNameDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.EnterSkillButton {
  height: 50%;
  width: 35;
  position: relative;
  top: 19%;
}

@media only screen and (min-width: 768px) {
  Title {
    position: relative;
    left: 2%;
  }

  #Logo {
    position: relative;
    top: -10%;
  }

  .EmployeesLabel {
    position: relative;
    left: -32%;
  }

  .EmployeeesContainer {
    width: 100vw;
    height: 90%;
  }

  .EmployeeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45vh;
    overflow: hidden;
    width: 100%;
  }

  .EmployeeName {
    position: relative;
    left: 4%;
    margin: 1%;
  }

  .EmployeeBox {
    width: 49%;
  }

  .SkillsContainer {
    width: 49%;
  }

  .EmployeeNameMutations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    border-radius: 5px;
  }

  .AddSkillsBox {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 15%;
    text-align: center;
    width: 100%;
  }

  .SkillsContainer {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 50%;
    height: 100%;
  }

  .Button {
    width: 15px;
  }

  .LeftButton {
    height: 50px;
    width: 100px;
  }

  .RightButton {
    height: 50px;
    width: 100px;
  }

  .SkillFill {
    width: 10%;
  }
}
